<html>
<head></head>
<body>
    <h3>每日战报</h3>
    人员名称：<input type="text" name="name"><br /><br />
    日期：<input type="text" name="month">月<input type="text" name="day">日
    <hr />
    <p>买卖房源：</p>
    <table border=1>
        <tr>
            <td>新增房源</td>
            <td>新增房源</td>
            <td>新增房源</td>
            <td>新增房源</td>
        </tr>
        <tr>
            <td><input type="text" name=""></td>
            <td><input type="text" name=""></td>
            <td><input type="text" name=""></td>
            <td><input type="text" name=""></td>
        </tr>
    </table>

</body>
</html>
